@*
    @model PagedList.IPagedList<TutoringCenter.ViewModels.StudentIndexData>

*@
@model TutoringCenter.ViewModels.StudentIndexData
@using PagedList.Mvc;


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.NameFilter as string)
        <input type="submit" value="Search" />
    </p>
}
@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Find by email: @Html.TextBox("EmailString", ViewBag.EmailFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.NameFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            First Name

        </th>
        <th>
            @Html.ActionLink("Student Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.EmailFilter })
        </th>
        <th></th>
    </tr>
    @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentEmail)
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Select(x => x.LastName))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Students.Select(x => x.FirstName))
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Students.Select(x => x.StudentEmail))
                    </td>
                    <td>
                        @Html.ActionLink("Select", "Index", new { id = item.Students.Select(x => x.StudentID) }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.Students.Select(x => x.StudentID) }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Students.Select(x => x.StudentID) }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Students.Select(x => x.StudentID) })
                    </td>
                    </tr>
                    }

        @foreach (var item in Model.Students)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.StudentEmail)

                            </td>
                            <td>
                                @Html.ActionLink("Select", "Index", new { id = item.StudentID }) |
                                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID}) |
                                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
                            </td>
                        </tr>
                    }
    *@




    @foreach (var item in @ViewBag.Students)
    {
        <tr>
            <td>
                @Convert.ToString(item.LastName)

            </td>
            <td>
                @Convert.ToString(item.FirstName)

            </td>

            <td>
                @Convert.ToString(item.StudentEmail)

            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.StudentID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }

</table>
<br />
Page @(ViewBag.StudentView.PageCount < ViewBag.StudentView.PageNumber ? 0 : ViewBag.StudentView.PageNumber) of @ViewBag.StudentView.PageCount

@*@Html.PagedListPager(Model.Students.Count(), page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
