@*
    @model PagedList.IPagedList<TutoringCenter.ViewModels.StudentIndexData>

*@
@model TutoringCenter.ViewModels.StudentIndexData
@using PagedList.Mvc;


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.NameFilter as string)
        <input type="submit" value="Search" />
    </p>
}
@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Find by email: @Html.TextBox("EmailString", ViewBag.EmailFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.NameFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            First Name

        </th>
        <th>
            @Html.ActionLink("Student Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.EmailFilter })
        </th>
        <th></th>
    </tr>
    

    @foreach (var item in @ViewBag.StudentView)
    {
        <tr>
            <td>
                @Convert.ToString(item.LastName)

            </td>
            <td>
                @Convert.ToString(item.FirstName)

            </td>

            <td>
                @Convert.ToString(item.StudentEmail)

            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.StudentID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }

</table>
<br />

Page @(ViewBag.StudentView.PageCount < ViewBag.StudentView.PageNumber ? 0 : ViewBag.StudentView.PageNumber) of @ViewBag.StudentView.PageCount

@Html.PagedListPager((PagedList.IPagedList)ViewBag.StudentView, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


@if (Model.Requests != null)
            {
                <h3>
                    Tutoring Requests from @ViewBag.StudentName
                </h3>

                <table class="table">
                    <tr>
                        <th></th>
                        <th>
                            Item
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Item
                        </th>
                    </tr>

                    @foreach (var item in Model.Requests)
                    {
                        string selectedRow = "";
                        if (item.RequestID == ViewBag.CourseID)
                        {
                            selectedRow = "success";
                        }
                        <tr class="@selectedRow" valign="top">
                            <td>
                                @Html.ActionLink("Select", "Index", new { requestID = item.RequestID })
                            </td>
                            <td>
                                @item.RequestDate
                            </td>
                            <td>
                                @item.Tutor.TutorFirst @item.Tutor.TutorLast
                            </td>
                            <td>
                                @item.Course.CourseSignature
                            </td>
                            <td>
                                @item.Instructor
                            </td>
                            <td>
                                @item.Appointment
                            </td>
                        </tr>
                    }
                </table>
            }

@if (Model.Visits != null)
            {
                <h3>
                    Tutoring Visits for @ViewBag.StudentName
                </h3>
                
                <table class="table">
                    <tr>
                        <th>
                            item
                        </th>
                        <th>
                            item
                        </th>
                    </tr>
                    @foreach (var item in Model.Visits)
                {
                    <tr>
                        <td>
                            @Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.VisitStartDateTime))
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:HH:mm}", item.VisitStartDateTime))
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:HH:mm}", item.VisitEndDateTime))
                        </td>
                        <td>
                            @item.VisitDuration
                        </td>
                        <td>
                            @item.Tutor.TutorFirst @item.Tutor.TutorLast
                        </td>
                        <td>
                            @item.SessionDetails
                        </td>
                    </tr>
                }
                </table>
            }